In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv("SalaryGender.csv")
dataset.head()

   Salary  Gender   Age  PhD
0   140.0       1  47.0  1.0
1    30.0       0  65.0  1.0
2    35.1       0  56.0  0.0
3    30.0       1  23.0  NaN
4    80.0       0   NaN  1.0

In [ ]:
print(dataset.isnull().sum())

Salary     0
Gender     0
Age       16
PhD       13
dtype: int64

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
print(dataset.isnull().sum())

Salary    0
Gender    0
Age       0
PhD       0
dtype: int64

In [ ]:
dataset = pd.read_csv("SalaryGender.csv")
print(dataset["Age"][:10])

0    47.0
1    65.0
2    56.0
3    23.0
4     NaN
5    27.0
6    53.0
7    30.0
8    44.0
9     NaN
Name: Age, dtype: float64

In [ ]:
dataset = pd.read_csv("SalaryGender.csv")
dataset["Age"] = dataset["Age"].replace(np.NaN, dataset["Age"].median())
print(dataset["Age"][:10])

0    47.0
1    65.0
2    56.0
3    23.0
4    50.0
5    27.0
6    53.0
7    30.0
8    44.0
9    50.0
Name: Age, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df = df.drop(['PassengerId','Name'],axis=1)
df = df[["Survived", "Pclass", "Sex", "SibSp", "Parch", "Fare", "Age"]]
df["Sex"] = [1 if x=="male" else 0 for x in df["Sex"]]
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
SibSp         0
Parch         0
Fare          0
Age         177
dtype: int64

In [ ]:
df.head(10)

   Survived  Pclass  Sex  SibSp  Parch     Fare   Age
0         0       3    1      1      0   7.2500  22.0
1         1       1    0      1      0  71.2833  38.0
2         1       3    0      0      0   7.9250  26.0
3         1       1    0      1      0  53.1000  35.0
4         0       3    1      0      0   8.0500  35.0
5         0       3    1      0      0   8.4583   NaN
6         0       1    1      0      0  51.8625  54.0
7         0       3    1      3      1  21.0750   2.0
8         1       3    0      0      2  11.1333  27.0
9         1       2    0      1      0  30.0708  14.0

In [ ]:
imputer = IterativeImputer(imputation_order='ascending',max_iter=10,random_state=42,n_nearest_features=5)

In [ ]:
IterativeImputer(n_nearest_features=5, random_state=42)

IterativeImputer(n_nearest_features=5, random_state=42)

In [ ]:
imputed_dataset = imputer.fit_transform(df)
imputed_dataset.head(10)

AttributeError: ignored

In [ ]:
print(imputed_dataset[10,:])

[ 1.   3.   0.   1.   1.  16.7  4. ]